#import <Foundation/Foundation.h>

@interface __{MODULE_NAME}_CurrentBundleFinder : NSObject
@end

@implementation __{MODULE_NAME}_CurrentBundleFinder
@end

NSBundle* {MODULE_NAME}_SWIFTPM_MODULE_BUNDLE() {
    NSArray *candidates = @[
        [[NSBundle mainBundle] bundleURL],
        [[NSBundle bundleForClass:[__{MODULE_NAME}_CurrentBundleFinder class]] bundleURL],
    ];
    for (id obj in candidates) {
        NSURL *baseURL = obj;
        NSURL *bundleURL = [baseURL URLByAppendingPathComponent:@"{BUNDLE_NAME}.bundle"];
        NSBundle *foundBundle = [NSBundle bundleWithURL:bundleURL];
        if (foundBundle != nil) {
            return foundBundle;
        }
    };
    return nil;
}
