# Ignore Bazel symlinks
bazel-*

# Ignore Swift and Xcode stuff
.DS_Store
**/.build
**/Packages
**/*.xcodeproj
**/xcuserdata/
**/DerivedData/
**/.swiftpm/config/registries.json
**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
**/.netrc
