# Import Shared settings
import %workspace%/../../shared.bazelrc

# Import CI settings.
import %workspace%/../../ci.bazelrc

# Try to import a local.rc file; typically, written by CI
try-import %workspace%/../../local.bazelrc

# Ensure SPM resolution uses the same Xcode version as the build.
# https://github.com/cgrindel/rules_swift_package_manager/issues/2140
common --repo_env=DEVELOPER_DIR
