# Import Shared settings
import %workspace%/../../shared.bazelrc

# Import CI settings.
import %workspace%/../../ci.bazelrc

# Try to import a local.rc file; typically, written by CI
try-import %workspace%/../../local.bazelrc

# GRPC requires C++17 or later.
build --cxxopt='-std=c++17'
build --host_cxxopt='-std=c++17'

# Force building for macOS 15.0:
build --macos_minimum_os=15.0
build --host_macos_minimum_os=15.0