name: Commit Message Check

on:
  pull_request:
    branches: [main]
    types: [opened, edited, synchronize]

jobs:
  conventional_commit_check:
    runs-on: ubuntu-latest
    steps:
      - uses: agenthunt/conventional-commit-checker-action@v2.0.0
        with:
          pr-title-regex: "^(fix|feat|chore|docs)(?:[^s]+)\)?: (.+)"
